<div class="map"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  [ngbPopover]="popContent"
  [autoClose]="true"
  [animation]="true"
></div>

<ng-template #popContent>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>
    <h1>POPOPOPOPO!</h1>

</ng-template>

<!-- <button type="button" class="card-button" title="Voir les sorties" [ngbPopover]="popContent" [autoClose]="true"
  [animation]="true" (click)="onLoadHikesForThisPlace()">
  <fa-icon [icon]="faEye"></fa-icon>
</button> -->