<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <h3><strong>Rando</strong></h3>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="hike-navbar" [class.is-active]="burgerActive" (click)="onToggleBurger()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div class="navbar-menu" id="hike-navbar" [class.is-active]="burgerActive">
    <div class="navbar-start">

    <div class="navbar-item has-dropdown" [class.is-active]="showDropdown">
      <a class="navbar-link" (mouseover)="onToggleDropdown()" (mouseleave)="onToggleDropdown()">
        Lieux
      </a>
    
      <div class="navbar-dropdown" (mouseleave)="onToggleDropdown()">
        <a class="navbar-item" routerLink="/place/list">
          Liste
        </a>
        <a class="navbar-item" routerLink="/place/map">
          Carte
        </a>
       
      </div>
    
    </div>

      <a class="navbar-item" routerLink="/hike">
        Sortie
      </a>

      <a class="navbar-item" routerLink="/participant">
        Participants
      </a>

     
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>