<table class="table">
  <thead>
    <tr>
      <th><a title="Trier par date">Date</a></th>
      <th><a title="Trier par nom de lieu" (click)="onSortHikesByPlaceName()">Lieux</a></th>
      <th><a title="Trier par nom de massif" (click)="onSortHikesByPlaceMountain()">Massif</a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hike of hikes" (click)="onLoadHike(hike)" class="hike-list-item">
      <td>{{hike.date | date:"longDate"}}</td>
      <td>{{hike.place.name}}</td>
      <td>{{hike.place.mountainLocation}}</td>
    </tr>
  </tbody>
</table>