<div>
    <div class="display">
      <h1 class="title hiking-title">Titre</h1>
      <button class="hiking-button" 
        >
        Editer cette sortie
      </button>
      <button class="hiking-button"
        >
        Supprimer cette sortie
      </button>

      <div class="hiking-box">
        <img src={picture} alt="une photo du lieu de la randonée" class="hiking-sheet-image">
        <div class="hiking-data">
          <h4>
              Dénivelé cumulé :
          </h4>
          <h4>
              Distance :
          </h4>
          <h4>
              Altitude de départ :
          </h4>
          <h4>
              Altitude d'arrivé :
          </h4>
          <h4>
              Durée de la sortie :
          </h4>
          <h4>
              Date de la sortie :
          </h4>
        </div>
      </div>
      <div class="hiking-box">
        <div class="participants-box">
          <h3 class="hiking-sheet-bottom-title">Participants: </h3>
         
        </div>
        <div class="desc-box">
          <h3 class="hiking-sheet-bottom-title">Description: </h3>
        </div>
      </div>
    </div>
  </div>