<div>
    <div class="display">
      <h1 class="title is-1 hiking-title">Sortie à {{store.activeHike?.place?.name}}</h1>
      <button class="hiking-button" 
        >
        Editer cette sortie
      </button>
      <button class="hiking-button"
        >
        Supprimer cette sortie
      </button>

      <div class="hiking-box">
        <img [src]="picture" alt="une photo du lieu de la randonée" class="hiking-sheet-image">
        <div class="hiking-data">
          <h3 class="hiking-sheet-bottom-title title is-4">Informations</h3>
          <p>
              Dénivelé cumulé : {{store.activeHike?.elevationInMeters}}
          </p>
          <p>
              Distance : {{store.activeHike?.distanceInMeters}}
          </p>
          <p>
              Altitude de départ : {{store.activeHike?.startingAltitude}}
          </p>
          <p>
              Altitude d'arrivé : {{store.activeHike?.arrivalAltitude}}
          </p>
          <p>
              Durée de la sortie : {{store.activeHike?.durationInMinutes}}
          </p>
          <p>
              Date de la sortie : {{store.activeHike?.date | date:"longDate"}}
          </p>
        </div>
      </div>

      <div class="hiking-box">
        <div class="participants-box">
          <h3 class="hiking-sheet-bottom-title title is-4">Participants: </h3>
          <aside class="menu">
            <ul class="menu-list">
              <li *ngFor="let participant of store.activeHike?.participants">
                <a>{{participant.firstname}} {{participant.name}}</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="desc-box">
          <h3 class="hiking-sheet-bottom-title title is-4">Description: </h3>
          <p>{{store.activeHike?.description}}</p>
        </div>
      </div>
    </div>
  </div>