.hiking-title {
  text-align: center;
  color: skyblue;
}

.hiking-button {
  color: white;
  background-color: skyblue;
  margin: 0px auto 20px 50px;
  border-radius: 5px;
}

.card-place-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
