.validate-modal-button {
  color: white;
  background-color: skyblue;
}

.abort-modal-button {
  color: white;
  background-color: grey;
}

.modal-title {
  color: skyblue;
}

.modal-label {
  margin-left: 10px;
}

.modal-input {
  margin-right: 10px;
  text-align: right;
  border: grey solid 1px;
}

.modal-input-area {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
