<div class="modal" [class.is-active]="isOpen">
  <div class="modal-background"></div>
  <form>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title modal-title">Créer une nouvelle randonnée</p>
      </header>
      <section class="modal-card-body">

       PROUT
      </section>
      <footer class="modal-card-foot">

        <button class="button validate-modal-button" type="submit">
          Valider
        </button>

        <button class="button abort-modal-button" type="button">
          Annuler
        </button>

      </footer>
    </div>
  </form>
</div>