<ng-template #popContent>
  <aside class="menu">
    <ul class="menu-list">
      <li *ngFor="let hike of hikes"><a (click)="onLoadHike(hike)">{{hike.date | date:"longDate"}}</a></li>
      <li>
       <button (click)="onCreateNewHike()">New</button>
      </li>
    </ul>
  </aside>
</ng-template>
<app-create-hike-modal [openModal]="creatingNewHike.asObservable()"></app-create-hike-modal>

<button
type="button"
class="card-button"
title="Voir les sorties"
[ngbPopover]="popContent"
[autoClose]="true"
[animation]="true"
(click)="onLoadHikesForThisPlace()"
>
  <fa-icon [icon]="faEye"></fa-icon>
</button>