.validate-modal-button {
  color: white;
  background-color: brown;
  padding: 5px;
  border-radius: 5px;
}

.abort-modal-button {
  color: white;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.modal-title {
  color: brown;
}

.modal-label {
  text-align: center;
  margin: 10px;
  color: brown;
}

.modal-input {
  margin-bottom: 10px;
  border: grey solid 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
