<h1 class="title hiking-title is-1">Lieux de randonnée</h1>
<button class="button hiking-button" (click)="onCreatePlace()">Ajouter un lieux</button>

<div class="card-place-container" >
  <div *ngFor="let place of places">
    <app-place-card
    [place]="place"
    (refreshFromChild)="refreshPlaces()"
    (createNewHike)="onCreateHike($event)"
    (setLocation)="onSetLocation($event)"
    ></app-place-card>
  </div>
</div>



<app-create-place-modal
[events]="createNewPlace.asObservable()"
(refreshFromChild)="refreshPlaces()"
></app-create-place-modal>

<app-create-hike-modal
[openModal]="createNewHike.asObservable()"
[placeWhereCreateNewHike]="clickedPlace"
></app-create-hike-modal>

<app-set-location-modal
[openModalSwitcher]="setLocation.asObservable()"
[place]="clickedPlace"
(refreshPlaces)="refreshPlaces()"
></app-set-location-modal>

<app-hike-popover></app-hike-popover>