<div>

  
  <div class="card card-place">
    <div class="card-image">
      <figure class="image is-4by3">
        <img [src]="place.picture" alt="Placeholder image" class="card-place-image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-5 card-place-title" >{{place.name}}</p>
        </div>
      </div>
      
      <div class="content">
        <p>Massif: {{place.mountainLocation}}</p>
        <p>Altitude: {{place.altitudeInMeters}}</p>
      </div>
      
      <div class="card-button-zone">
        <button class="card-button" title="Editer" (click)="onEditPlace()">
          <fa-icon [icon]="faPen"></fa-icon>
        </button>

        <button class="card-button" title="Supprimer">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
        
        <button class="card-button" title="Changer l'image" (click)="onChangePicture()">
          <fa-icon [icon]="faImage"></fa-icon>
        </button>
        
        <button class="card-button" title="Changer les coordonnées">
          <fa-icon [icon]="faLocationArrow"></fa-icon>
        </button>

        <button class="card-button" title="Voir les sorties">
          <fa-icon [icon]="faEye"></fa-icon>
        </button>
      </div>

      <app-change-picture-modal
      [event]="openEditPictureModal.asObservable()"
      [placeId]="place._id"
      [placeName]="place.name"
      ></app-change-picture-modal>

      <app-edit-place-modal
      [event]="openEditPlaceModal.asObservable()"
      [placeId]="place._id"
      [placeName]="place.name"
      >

      </app-edit-place-modal>
    </div>
  </div>
</div>