.card-place-title {
  color: brown;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.card-place {
  width: 18rem;
  margin: 15px;
  border: brown 1px solid;
}

.card-place-picture {
  border-radius: 10px 10px 0px 0px;
}

.card-button-zone {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card-button {
  border-radius: 100%;
  color: brown;
  border: brown solid 1px;
  background-color: white;
}

.card-button:hover {
  background-color: brown;
  color: white;
}

.card-place-popover-header {
  color: brown;
}

.card-place-popover {
  border: brown solid 1px;
}

.card-place-adding-hike-button {
  color: brown;
  border-radius: 5px;
  margin: 10px 5px 0px 5px;
}
