<div class="modal" [class.is-active]="showModal">
  <div class="modal-background" (click)="onCloseModal()"></div>
  <form [formGroup]="createPlaceForm" (ngSubmit)="onSubmitNewPlace()">
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title modal-title">Créer un nouveau lieu</p>
    </header>
    <section class="modal-card-body">
        
          <div class="modal-input-area">
            <label class="modal-label" for="name">
              Nom
            </label>
            <input type="text"
            placeholder="Nom du nouveau lieu"
            formControlName="name"
            class="modal-input"
            id="name"
            name="name"
            />
          </div>
          
          <div class="modal-input-area">
            <label class="modal-label" for="altitude">
              Altitude
            </label>
            <input type="number"
            class="modal-input"
            id="altitude"
            name="altitude"
            formControlName="altitudeInMeter"
            />
          </div>
          
          <div class="modal-input-area">
            <label class="modal-label" for="mountainLocation">
              Massif
            </label>
            <input type="text" placeholder="Nom du nouveau lieu" 
            class="modal-input"
            id="mountainLocation"
            name="mountainLocation"
            formControlName="mountainLocation"
            />
          </div>
          
          <div class="modal-input-area">
            <label class="modal-label" for="picture">
              Image
            </label>
            <input type="file" name="file" 
            class="create-place-file-input"
            id="picture"
            formControlName="picture"
            />
          </div>
          
        </section>
        <footer class="modal-card-foot">

          <button class="button validate-modal-button"
          type="submit"
          [disabled]="!createPlaceForm.valid"
          >
            Save changes
          </button>

          <button class="button abort-modal-button"
          (click)="onCloseModal()"
          type="button">
            Cancel
          </button>

        </footer>
      </div>
    </form>
</div>